* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif
}
.switch{
    background-color: #000;
    color: #fff;
}
.navbar{
    font-size: 25px;
}
.navbar-brand{
    font-size: 25px;
    padding-left: 10px;
    margin: 5px;
}
.togglebtn { 
    font-size: 20px;
}

button{
    border: none;
}
.fa-sun {
    display: none;
}
#info{
    font-size: 32px;
    padding: 20px;
    margin-top: 50px;
}
#info h1{
    font-weight: bold;
}
.social-icon a{
    color: #000;
}
img{
    margin-top: 50px;
}
.switch .fa-sun {
    display: block;
    background: transparent;
    color: #fff;
}
.switch .fa-moon {
    display: none;
}
.switch  .navbar-brand{
color: #fff;
background: #000;
}
.switch  .nav-link{
    color: #fff;
    background: #000;
}
.switch .social-icon a{
    color: #fff;
}